{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% endwith %}
    <div class="container">
        <div class="row align-items-center" style="height: 50vh; color:#0079c2;">
        <div>
            <h1 class="row justify-content-center"> Приветствую вас - {% if current_user.is_anonymous %}Гость{% else%}{{ current_user.username }}{% endif %}!
            </h1>
        </div>
        {% if form %}
        {{ render_form(form) }}
        <br>
        {% endif %}
        </div>
    </div>
{% endblock %}